nav
{
  padding-left: 25px;
}
.navbar-brand
{
  font-family:  'Satisfy', cursive;

}
.logo-color
{
  font-size: 25px;
  color: #ff827b !important;
}
.navLink
{
  color: #007FFF !important;
}
.jumbotron
{
  height: 28em;
  padding-top: 5em;
  background-color: #304;
  background-image: url("../img/hero.jpg");
  background-size: cover;
  background-position: center;
  text-align: center;
  color: white;
}
img
{
  display: block;
  margin: auto;
}
.alert-info
{
  padding: 1.5em;
  border-radius: 5px;
}
.panel-footer
{
  background-color:black;
  font-size: 12px;
  color: #999;
  margin-top: 3em;
}
.border
{
    border-style: none none none solid;
    border-width: 1px;
    border-color: gray;
    padding-left: 2em;
}
